body {
    background-color: #fdfdfd;
}


p {
    color: rgb(82, 82, 82);
}

.foto {
    width: 200px;
    border: 5px solid #ffffff; 
    border-radius: 50%;

    /*---------------------/
    shorthand margin: 30px 30px 30px 30px
    posso escrever assim ou usar o shorthand
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 500px;*/

    margin: 30px 30px 30px 30px

}